<div class="container" fxlayout="row" fxLayoutAlign="space-between center">
  <div class="topic" fxLayoutAlign="center">
    <p class="title">Aqua Seive</p>
  </div>
  <div class="buttons" fxLayout="row" fxLayoutAlign="center">
    <div class="button">
      <p class="label">Home</p>
    </div>
    <div class="button">
      <p class="label">User Manager</p>
    </div>
    <div class="button">
      <p class="label">Bin Manager</p>
    </div>
    <div class="button">
      <p class="label">Bin Map</p>
    </div>
    <div class="button" style="border-right: none">
      <p class="label">About Us</p>
    </div>
  </div>
</div>
